<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-circle"></div>
            <div class="preloader-img">
                <img src="/img/core-img/leaf.png" alt="">
            </div>
        </div>

        <!-- Navbar Start -->
        <%- include('../includes/navigation.ejs') %>
            <!-- Navbar End -->
            <div class="breadcrumb-area">
                <!-- Top Breadcrumb Area -->
                <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/24.jpg);">
                    <h2>Update Password</h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Update Password</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <% if (errorMessage) { %>
                <div class="custom-msg-general custom-user-msg custom-user-msg-error"><%= errorMessage %></div>
            <% } %>
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <span class="login100-form-title p-b-26">
                            Welcome
                        </span>
                        <span class="login100-form-title p-b-48">
                            <img src="/img/core-img/leaf.png" alt="">
                        </span>
                        <form class="login100-form validate-form" action="/new-password" method="POST">
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                <span class="btn-show-pass">
                                    <i class="fa fa-eye"></i>
                                </span>
                                <input class="input100" type="password" name="password">
                                <span class="focus-input100" data-placeholder="New password"></span>
                            </div>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>




            <!-- ##### Footer Area End ##### -->
            <%- include('../includes/end.ejs') %>